body {
    height: 100%;
    background-image: url(office.png);
    background-repeat: no-repeat;
    background-size: 1980px 1080px;
    background-attachment: fixed; 
}

h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 50px;
    text-align: center;
    font-weight: 800;
    color: #00008B;
    font-family: 'Bellota Text', cursive;
}

.input_div {
    display: flex;
    justify-content: center; /* Align the flex items at the center of the container */
    align-items: center;
    text-align: center;
}

.input {
    padding: 0.5rem 1rem;
    height: 50px;
    background-color: white;
    width: 450px;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius: 25px;
    border: none;
    outline: none;
}

.addButton {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    color: white;
    margin: 20px;
    background-color: #006400;
    cursor: pointer; /* Hover on Button will change cursor */
}

.addButton:hover {
    opacity: 0.7;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.item {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 4px solid #00008B;
}

.item_input {
    background: none;
    outline: none;
    border: none;
    color: #dc6809;
    width: 500px;
    font-size: 40px;
    font-weight: bold;
}

.editButton {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    color: white;
    margin: 0.25rem;
    background-color: #006400;
    cursor: pointer; /* Hover on Button will change cursor */
}

.removeButton {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    color: white;
    margin: 0.25rem;
    background-color: red;
    cursor: pointer; /* Hover on Button will change cursor */
}